{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.f2f69671-46eb-40e7-9d49-660c14b27516",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}