{
  "pid": "bw.application.SOAPAPI.application_1.0",
  "properties": {
    "\/\/SOAPAPI\/\/PortSOAP": {
      "name": "\/\/SOAPAPI\/\/PortSOAP",
      "value": "9971",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.MODULE.VERSION": {
      "name": "\/\/SOAPAPI\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.HOST.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.APPNODE.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/PortSOAP": {
      "name": ".type.\/\/SOAPAPI\/\/PortSOAP",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.MODULE.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.APPSPACE.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "SOAPAPI.application",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.DOMAIN.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/RestPort": {
      "name": "\/\/SOAPAPI\/\/RestPort",
      "value": "9144",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/Host": {
      "name": ".type.\/\/SOAPAPI\/\/Host",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/SOAPAPI\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "SOAPAPI.application",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/RestPort": {
      "name": ".type.\/\/SOAPAPI\/\/RestPort",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.SOAPAPI.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/SOAPAPI\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/BW.HOST.NAME": {
      "name": "\/\/SOAPAPI\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/SOAPAPI\/\/Host": {
      "name": "\/\/SOAPAPI\/\/Host",
      "value": "Hafeez",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    }
  }
}