{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.effba5a5-a22b-47d3-9f48-3166b0e9a26f",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "soapapi.column",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "SOAPAPI.application",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.effba5a5-a22b-47d3-9f48-3166b0e9a26f",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "SOAPAPI",
      "type": "java.lang.String"
    },
    ".type.schemaElementQname": {
      "name": ".type.schemaElementQname",
      "value": "javax.xml.namespace.QName",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {"http:\/\/www.example.com\/namespaces\/tns\/1763750076106": {
        "name": "http:\/\/www.example.com\/namespaces\/tns\/1763750076106",
        "value": [],
        "type": "java.util.Collection"
      }},
      "type": "java.util.Map"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration",
      "type": "java.lang.String"
    },
    "schemaElementQname": {
      "name": "schemaElementQname",
      "value": "{http:\/\/www.example.com\/namespaces\/tns\/1763750076106}satatemet",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 84,
      "type": "java.lang.Long"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}