{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.effba5a5-a22b-47d3-9f48-3166b0e9a26f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}