{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/notifyconfiguration}NotifyConfiguration.2b4f4dc2-4ded-4561-9950-fc1fee012637",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}