{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.095e2dd1-a4af-42f1-9fc4-3f1270fc3e75",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}